@model Z01.Models.Note

<h1>Note Edit</h1>

<form class="form-horizontal" method="post">
    @Html.ValidationSummary(true)
    <fieldset>
        <input type="hidden" id="old_title" name="old_title" value="@Model.title"/>
        @await Html.PartialAsync("NoteForm", Model)
    </fieldset>
</form>
<div>
    <a asp-action="Index">Back to Notes List</a>
</div>