@model Z01.Models.Note

<h1>New note</h1>

<form class="form-horizontal" asp-action="New" method="post">
    @Html.ValidationSummary(true)
    <fieldset>
        @await Html.PartialAsync("NoteForm", Model)
    </fieldset>
</form>

<div>
    <a asp-action="Index">Back to Notes List</a>
</div>